{% extends "layout.html" %}

{% block content %}
<link href="../static/css/index.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>-->

<input type="file" name="name" value="" style="display:none;" />
<input type="button" name="name" value="导入文件" />
<div class="progressBar" style="display:none;">
    <div class="progressBarTitle">

    </div>
    <div class="progressBarBox">
        <div class="progressBarValue">
        </div>
        <div class="progressBarValueBox" style="width:0px">
        </div>
    </div>
    <div class="progressBarButtonBox">
        <button>确认</button>
        <button>取消</button>
    </div>
</div>
<div class="downFilesBox">

</div>

<script>
    /**下载文件框 */
    var downFilesBox = lt_code.getAll5(".downFilesBox")[0];

    /**
     * 下载文件行
     * @param fileLine
     */
    var downFile = function (fileLine) {
        var href = fileLine.dataset.dir;
        var a = lt_code.newDom("a", {
            href: href,
            download: fileLine.dataset.fileName,

        });
        a.click();
    }

    /**
     * 新文件行
     * @param {string} fileName 文件名
     * @param {number} size 文件大小
     * @param {number} create 创建时间
     * @param {boolean} isFile 是否是文件
     * @param {string} dir 文件路径
     * @param {number} [isDelete] 文件路径
     */
    var newEachFile = function (fileName, size, create, isFile, dir, isDelete = 0) {
        isFile = isFile == null ? true : isFile;
        isDelete = typeof (isDelete) == "undefined" ? 1 : isDelete;

        /**每个文件行 */
        var eachFile = lt_code.newDom("div", {
            class: "eachFile",
            "data-fileName": fileName,
            "data-dir": dir,
            "data-isFile": isFile,
        });

        /**文件行文件名 */
        var newEachFileValue = lt_code.newDom("div", {
            class: "eachFileValue",

        });

        /**文件创建时间 */
        var newEachFileCreate = lt_code.newDom("div", {
            class: "eachFileCreate",

        });

        /**文件大小 */
        var newEachFileSize = lt_code.newDom("div", {
            class: "eachFileSize",

        });

        /**文件下载按钮所在 */
        var newEachFileBottom = lt_code.newDom("div", {
            class: "eachFileBottom",

        });

        /**文件下载按钮 */
        var newEachFileBottomBottom = lt_code.newDom("div", {
            class: "eachFileBottomBottom",
            title: "下载",
        });

        /**删除文件按钮 */
        var newEachFileBottomBottom2 = lt_code.newDom("div", {
            class: "eachFileBottomBottom",
            title: "删除",
        });

        newEachFileBottomBottom.innerText = "下载";
        newEachFileBottomBottom2.innerText = "删除";
        newEachFileValue.innerText = fileName;
        if (isFile) {
            lt_code.addChild(newEachFileBottomBottom, newEachFileBottom);
            lt_code.addChild(newEachFileBottomBottom2, newEachFileBottom);
            newEachFileSize.innerText = size;
            newEachFileCreate.innerText = new Date(create).format("yyyy-MM-dd hh:mm:ss");
            newEachFileBottomBottom.onmouseup = function () {
                downFile(eachFile);
            }
            newEachFileBottomBottom2.onmouseup = function () {
                deleteFile(eachFile);
            }
            eachFile.title = "文件名称 : " + fileName;
            eachFile.title += "\n创建时间 : " + new Date(create).format("yyyy年MM月dd hh时mm分ss秒");
            eachFile.title += "\n文件大小 : " + (size < 1024 ? size + "字节" :
                size < 1024 * 1024 ? Math.floor(size / 1024 * 100) / 100 + "KB" :
                    size < 1024 * 1024 * 1024 ? Math.floor(size / 1024 / 1024 * 100) / 100 + "MB" :
                        Math.floor(size / 1024 / 1024 / 1024 * 100) / 100 + "GB");
            eachFile.title += "\n文件路径 : " + dir;
            eachFile.title += "\n是否存在 : " + (isDelete == 0 ? "文件存在" : isDelete == 1 ? "文件已删除,可以找回" : "文件已彻底删除");
        } else {
            newEachFileBottom.innerText = "文件夹";
            newEachFileSize.innerText = "/";
            newEachFileCreate.innerText = "/";
            newEachFileValue.style.cursor = "pointer";
            newEachFileValue.onmousedown = function () {
                var dir = lt_code.getDomFather(this).dataset.dir;
                lt_code.history.newSearch(dir);
            }
            eachFile.title = "文件夹\n路径 : root" + dir;
        }

        if (fileName == "/..") {
            eachFile.title = "返回上一级";
            //father = father.slice(0,father.length - fileName.length);
            //eachFile.dataset.father = father;
            newEachFileValue.onmousedown = function () {
                lt_code.history.backSearch();
            }
        }

        lt_code.addChild(newEachFileValue, eachFile);
        lt_code.addChild(newEachFileCreate, eachFile);
        lt_code.addChild(newEachFileSize, eachFile);
        lt_code.addChild(newEachFileBottom, eachFile);
        lt_code.addChild(eachFile, downFilesBox);
    };
</script>
<script>
    /**最大错误次数 */
    const MaxErrorTimes = 5;
    /**每次最大传输内容大小 */
    const size = 512 * 1024;
    //const size = 24;
    window.onload = function () {
        var input = lt_code.getAll5("input")[0];
        var button = lt_code.getAll5("input")[1];
        var fileReader = new FileReader();
        window.fileReader = fileReader;
        var md5s = [];

        var url = /\/\/([^\/]*)/.exec(window.location.href);

        //const socket = new WebSocket("ws://" + url[1] + "/connect");
        const socket = io("ws://" + url[1] + "/");
        window.socket = socket;
        socket.binaryType = "arraybuffer";
        socket.on("connect", function () {
            console.log("服务器连接成功!");
        });
        socket.on("disconnect", function () {
            console.log("已经断开连接!");
        });
        socket.on("message", function (e) {
            console.log("服务器消息:" + e);
        })

        /**错误次数 */
        var errorTime = {};

        button.onmousedown = function () {
            input.click();
            input.onchange = function () {
                var file = input.files[0];
                lt_code.file = file;
                fileReader.onprogress = function (e) {
                    //console.log(e.loaded);
                    ChangeBar("读取文件中", e.loaded, file.size);
                }
                fileReader.readAsArrayBuffer(file);
                fileReader.onloadstart = function () {
                    ChangeBar("读取文件中", 0, file.size);
                }
                fileReader.onload = function () {
                    const fileMD5 = md5(this.result);
                    //console.log("文件读取完成!");
                    /**最大的指针 */
                    const maxIndex = Math.ceil(fileReader.result.byteLength / size);
                    console.log(maxIndex);
                    ChangeBar("文件读取完成!", file.size, file.size, function () {
                        /**新建文件 */
                        var newFile = function () {
                            var up = {
                                n: "newFile",
                                md5: fileMD5,
                                name: file.name,
                                uptime: file.lastModified,
                                size: file.size,
                            };
                            socket.emit("testUp", JSON.stringify(up));
                        };
                        /**
                         * 上传部分
                         * @param i
                         */
                        var upPart = function (i, index) {
                            var part = new Uint8ClampedArray(fileReader.result.slice(i, i + size));
                            part = ArrayBufferBase64.encode(part);
                            var partValue = {
                                n: "upFile",
                                md5: lt_code.md5(part),
                                index: index,
                                length: part.length,
                                value: part,
                            };
                            //console.log(partValue);
                            //console.log(JSON.stringify(partValue));
                            ChangeBar("上传数据中", index, maxIndex);
                            socket.emit("testUp", JSON.stringify(partValue));
                        }
                        //while (i < fileReader.result.length) {
                        //    upPart(i);
                        //    socket.on("")
                        //}
                        socket.on("upFile", function (e) {
                            if (e == "newFile") {
                                /**上传文件指针 */
                                var i = 0;
                                /**上传文件块指针 */
                                var index = 0;
                                //上传第一部分
                                upPart(i, index);
                                socket.on("upFileError", function (e) {
                                    console.log(e);
                                    if (e == "fileNotInit") {
                                        if (errorTime[e] == undefined || errorTime < MaxErrorTimes) {
                                            errorTime[e] = !errorTime[e] ? 1 : errorTime[e] + 1;
                                            newFile();
                                        } else {
                                            console.error("在服务器上创建文件失败!\n已经超过了最大重试次数!");
                                            errorTime[e] = 0;
                                            return;
                                        }
                                    } else if (e["outIndex"] != undefined) {
                                        if (errorTime["outIndex"] == undefined || errorTime < MaxErrorTimes) {
                                            errorTime[e] = !errorTime[e] ? 1 : errorTime[e] + 1;
                                            upPart(e["outIndex"], index);
                                            index = e["outIndex"];
                                        } else {
                                            console.error("在服务器上创建文件失败!\n已经超过了最大重试次数!");
                                            errorTime[e] = 0;
                                            return;
                                        }
                                    } else if (e == "errorMd5") {
                                        if (errorTime[e] == undefined || errorTime < MaxErrorTimes) {
                                            errorTime[e] = !errorTime[e] ? 1 : errorTime[e] + 1;
                                            upPart(i, index);
                                        } else {
                                            console.error("传输的内容出错!\n已经超过了最大重试次数!");
                                            errorTime[e] = 0;
                                            return;
                                        }
                                    } else if (e == "success") {
                                        if (index >= maxIndex) {
                                            console.log("文件传输已经完成!");
                                            ChangeBar("文件已经传输完成!", index, maxIndex, ChangeBar.noFuc, ChangeBar.noFuc);
                                            return;
                                        }
                                        i += size;
                                        index += 1;
                                        upPart(i, index);
                                        for (var x in errorTime) {
                                            errorTime[x] = 0;
                                        }
                                    }
                                });
                            }
                        });

                        //外部测试用
                        window.newFile = newFile;
                        window.upPart = upPart;

                        //开始上传文件
                        newFile();
                    });
                }
            }
        }

        //测试直接发送文件(结果出来了,socket似乎是不支持大数据传输)
        //button.onmousedown = function () {
        //    input.click();
        //    input.onchange = function () {
        //        var file = input.files[0];
        //        fileReader.onload = function () {
        //            var bytes = new Uint8Array(this.result);
        //            socket.emit("testUp2", bytes);
        //        }
        //        fileReader.readAsArrayBuffer(file);
        //    }
        //}
        //var upPart = function (str, md5, isPart) {
        //    //启动会话
        //    $(function () {
        //        /**上传数据 */
        //        var up = {
        //            uid: window.UID,
        //            type: isPart,
        //            part: str,
        //            md5: md5,
        //        };
        //        up = {
        //            n: "testUp",
        //            data: lt_code.base64.encode(JSON.stringify(up)),
        //        };

        //        $.ajax({
        //            type: "post",
        //            url: "/api/",
        //            data: JSON.stringify(up),
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "text",
        //            success: function (data) {
        //                console.log(data);
        //                switch (data) {
        //                    case "Error:NAME":
        //                    case "Error:UID":
        //                    case "Error:NOTSIGN":
        //                        window.location.href = "/sign/";
        //                        //console.trace("先禁止返回注册");
        //                        break;
        //                    case "False":
        //                    case "Error:NOTFOUND":
        //                        alert("此设备不存在!");
        //                        break;
        //                    case "Error:NO":
        //                        alert("未知错误!");
        //                        break;
        //                    case "Error:EMPTY":
        //                        alert("没有任何数据!");
        //                        break;
        //                    case "True":
        //                        codeBox.classList.add("codeBoxShow");
        //                        break;
        //                    default:
        //                        alert("未知错误!");
        //                        break;
        //                }
        //            },
        //            error: function (err) {
        //                alert(err);
        //            }
        //        });
        //    });
        //}

        //读取后台文件
        socket.emit("getDownFiles","");
        socket.on("downFiles", function (e) {
            //console.log(e);
            var dict = JSON.parse(e);
            console.log(dict);
            for (var i = 0; i < dict.length; i++) {
                newEachFile(dict[i].name, dict[i].size, dict[i].create * 1000, true, dict[i].path);
            }
        });
    }

    /**本地base64编码 */
    var ArrayBufferBase64 = {
        _keyStr: lt_code.base64._keyStr,
        encode: function (input) {
            var output = "";
            var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
            var i = 0;
            while (i < input.length) {
                chr1 = input[i++];
                chr2 = input[i++];
                chr3 = input[i++];
                enc1 = chr1 >> 2;
                enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                enc4 = chr3 & 63;
                if (isNaN(chr2)) {
                    enc3 = enc4 = 64;
                } else if (isNaN(chr3)) {
                    enc4 = 64;
                }
                output = output +
                    this._keyStr.charAt(enc1) + this._keyStr.charAt(enc2) +
                    this._keyStr.charAt(enc3) + this._keyStr.charAt(enc4);
            }
            return output;
        },
        decode: function (input) {
            var remove = 0;
            for (var i = input.length - 1; i >= 0; i--) {
                if (input[i] == "=") {
                    remove++;
                } else {
                    break;
                }
            }
            var output = new Uint8ClampedArray(input.length / 4 * 3);
            var chr1, chr2, chr3;
            var enc1, enc2, enc3, enc4;
            var i = 0;
            var index = 0;
            input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");
            while (i < input.length) {
                enc1 = this._keyStr.indexOf(input.charAt(i++));
                enc2 = this._keyStr.indexOf(input.charAt(i++));
                enc3 = this._keyStr.indexOf(input.charAt(i++));
                enc4 = this._keyStr.indexOf(input.charAt(i++));
                chr1 = (enc1 << 2) | (enc2 >> 4);
                chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
                chr3 = ((enc3 & 3) << 6) | enc4;
                output[index++] = chr1;
                if (enc3 != 64) {
                    output[index++] = chr2;
                }
                if (enc4 != 64) {
                    output[index++] = chr3;
                }
            }
            output = output.slice(0, output.length - remove);
            return output;
        }
    };

    /**
     * 显示
     * @param index
     * @param maxIndex
     */
    var ChangeBar = function (title, index, maxIndex, yesFuc = null, noFuc = null) {
        var barTitle = lt_code.getAll5(".progressBarTitle")[0];
        var barBox = lt_code.getAll5(".progressBarBox")[0];
        var barValueBox = lt_code.getAll5(".progressBarValueBox")[0];
        var barValue = lt_code.getAll5(".progressBarValue")[0];
        var yes = lt_code.getAll5(".progressBarButtonBox>button")[0];
        var no = lt_code.getAll5(".progressBarButtonBox>button")[1];
        if (!!yesFuc) {
            this.yesFuc = yesFuc;
        }
        if (!!noFuc) {
            this.noFuc = noFuc;
        }

        //显示标题
        barTitle.innerText = title;

        //显示条
        bar.style.display = "block";

        //显示进度
        barValueBox.style.width = Math.floor(index / maxIndex * 100) + "%";
        barValue.innerText = Math.floor(index / maxIndex * 10000)/100 + "%";

        //显示按键
        if (index >= maxIndex) {
            yes.className = "";
        } else {
            yes.className = "wait";
        }

        //修改函数
        if (index >= maxIndex) {
            yes.onmousedown = this.yesFuc;
            //no.onmousedown = function () { };
            no.onmousedown = this.noFuc;
        } else {
            yes.onmousedown = function () { };
            no.onmousedown = this.noFuc;
        }
    };
    ChangeBar.bar = bar = lt_code.getAll5(".progressBar")[0];
    ChangeBar.yesFuc = function () { };
    ChangeBar.baseNoFuc = function () {
        ChangeBar.bar.style.display = "none";
        this.yesFuc = function () { };
    };
    ChangeBar.noFuc = ChangeBar.baseNoFuc;
</script>
{% endblock %}
