{% extends "layout.html" %}

{% block content %}
<link href="../static/css/index.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>-->

<input type="file" name="name" value="" style="display:none;"/>
<input type="button" name="name" value="导入文件" />
<div class="progressBar" style="display:none;">
    <div class="progressBarTitle">

    </div>
    <div class="progressBarBox">
        <div class="progressBarValueBox" style="width:0px">
            <div class="progressBarValue">

            </div>
        </div>
    </div>
    <div class="progressBarButtonBox">
        <button>确认</button>
        <button>取消</button>
    </div class="progressBarButtonBox">
</div>

<script>
    /**最大错误次数 */
    const MaxErrorTimes = 5;
    /**每次最大传输内容大小 */
    const size = 512 * 1024;
    //const size = 24;
    window.onload = function () {
        var input = lt_code.getAll5("input")[0];
        var button = lt_code.getAll5("input")[1];
        var fileReader = new FileReader();
        window.fileReader = fileReader;
        var md5s = [];

        var url = /\/\/([^\/]*)/.exec(window.location.href);

        //const socket = new WebSocket("ws://" + url[1] + "/connect");
        const socket = io("ws://" + url[1] + "/");
        window.socket = socket;
        socket.binaryType = "arraybuffer";
        socket.on("connect", function () {
            console.log("服务器连接成功!");
        });
        socket.on("disconnect", function () {
            console.log("已经断开连接!");
        });
        socket.on("message", function (e) {
            console.log("服务器消息:" + e);
        })

        /**错误次数 */
        var errorTime = {};

        button.onmousedown = function () {
            input.click();
            fileReader.onprogress = function (e) {
                //console.log(e.loaded);
                ChangeBar("读取文件中", e.loaded, file.size);
            }
            input.onchange = function () {
                var file = input.files[0];
                lt_code.file = file;
                fileReader.readAsArrayBuffer(file);
                fileReader.onloadstart = function () {
                    ChangeBar("读取文件中", 0, file.size);
                }
                fileReader.onload = function () {
                    const fileMD5 = md5(this.result);
                    console.log("文件读取完成!");
                    if (confirm("是否上传文件?")) {
                        /**新建文件 */
                        var newFile = function () {
                            var up = {
                                n: "newFile",
                                md5: fileMD5,
                                name: file.name,
                                uptime: file.lastModified,
                                size: file.size,
                            };
                            socket.emit("testUp", JSON.stringify(up));
                        };
                        /**
                         * 上传部分
                         * @param i
                         */
                        var upPart = function (i,index) {
                            var part = new Uint8ClampedArray(fileReader.result.slice(i, i + size));
                            part = ArrayBufferBase64.encode(part);
                            var partValue = {
                                n: "upFile",
                                md5: lt_code.md5(part),
                                index: index,
                                length: part.length,
                                value: part,
                            };
                            //console.log(partValue);
                            console.log(JSON.stringify(partValue));
                            socket.emit("testUp", JSON.stringify(partValue));
                        }
                        //while (i < fileReader.result.length) {
                        //    upPart(i);
                        //    socket.on("")
                        //}
                        socket.on("upFile", function (e) {
                            if (e == "newFile") {
                                /**最大的指针 */
                                const maxIndex = Math.ceil(fileReader.result.byteLength / size);
                                console.log(maxIndex);
                                /**上传文件指针 */
                                var i = 0;
                                /**上传文件块指针 */
                                var index = 0;
                                //上传第一部分
                                upPart(i,index);
                                socket.on("upFileError", function (e) {
                                    console.log(e);
                                    if (e == "fileNotInit") {
                                        if (errorTime[e] == undefined || errorTime < MaxErrorTimes) {
                                            errorTime[e] = !errorTime[e] ? 1 : errorTime[e] + 1;
                                            newFile();
                                        } else {
                                            console.error("在服务器上创建文件失败!\n已经超过了最大重试次数!");
                                            errorTime[e] = 0;
                                            return;
                                        }
                                    } else if (e["outIndex"]!=undefined) {
                                        if (errorTime["outIndex"]==undefined||errorTime<MaxErrorTimes) {
                                            errorTime[e] = !errorTime[e] ? 1 : errorTime[e] + 1;
                                            upPart(e["outIndex"],index);
                                            index = e["outIndex"];
                                        } else {
                                            console.error("在服务器上创建文件失败!\n已经超过了最大重试次数!");
                                            errorTime[e] = 0;
                                            return;
                                        }
                                    } else if (e == "errorMd5") {
                                        if (errorTime[e] == undefined || errorTime < MaxErrorTimes) {
                                            errorTime[e] = !errorTime[e] ? 1 : errorTime[e] + 1;
                                            upPart(i,index);
                                        } else {
                                            console.error("传输的内容出错!\n已经超过了最大重试次数!");
                                            errorTime[e] = 0;
                                            return;
                                        }
                                    } else if (e == "success") {
                                        if (index >= maxIndex) {
                                            console.log("文件传输已经完成!");
                                            return;
                                        }
                                        i += size;
                                        index += 1;
                                        upPart(i,index);
                                        for (var x in errorTime) {
                                            errorTime[x] = 0;
                                        }
                                        ChangeBar("正在传输中", index, maxIndex);
                                    }
                                });
                            }
                        });

                        //外部测试用
                        window.newFile = newFile;
                        window.upPart = upPart;

                        //开始上传文件
                        newFile();
                    }
                }
            }
        }

        //测试直接发送文件(结果出来了,socket似乎是不支持大数据传输)
        //button.onmousedown = function () {
        //    input.click();
        //    input.onchange = function () {
        //        var file = input.files[0];
        //        fileReader.onload = function () {
        //            var bytes = new Uint8Array(this.result);
        //            socket.emit("testUp2", bytes);
        //        }
        //        fileReader.readAsArrayBuffer(file);
        //    }
        //}
        //var upPart = function (str, md5, isPart) {
        //    //启动会话
        //    $(function () {
        //        /**上传数据 */
        //        var up = {
        //            uid: window.UID,
        //            type: isPart,
        //            part: str,
        //            md5: md5,
        //        };
        //        up = {
        //            n: "testUp",
        //            data: lt_code.base64.encode(JSON.stringify(up)),
        //        };

        //        $.ajax({
        //            type: "post",
        //            url: "/api/",
        //            data: JSON.stringify(up),
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "text",
        //            success: function (data) {
        //                console.log(data);
        //                switch (data) {
        //                    case "Error:NAME":
        //                    case "Error:UID":
        //                    case "Error:NOTSIGN":
        //                        window.location.href = "/sign/";
        //                        //console.trace("先禁止返回注册");
        //                        break;
        //                    case "False":
        //                    case "Error:NOTFOUND":
        //                        alert("此设备不存在!");
        //                        break;
        //                    case "Error:NO":
        //                        alert("未知错误!");
        //                        break;
        //                    case "Error:EMPTY":
        //                        alert("没有任何数据!");
        //                        break;
        //                    case "True":
        //                        codeBox.classList.add("codeBoxShow");
        //                        break;
        //                    default:
        //                        alert("未知错误!");
        //                        break;
        //                }
        //            },
        //            error: function (err) {
        //                alert(err);
        //            }
        //        });
        //    });
        //}
    }

    /**本地base64编码 */
    var ArrayBufferBase64 = {
        _keyStr: lt_code.base64._keyStr,
        encode: function (input) {
            var output = "";
            var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
            var i = 0;
            while (i < input.length) {
                chr1 = input[i++];
                chr2 = input[i++];
                chr3 = input[i++];
                enc1 = chr1 >> 2;
                enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                enc4 = chr3 & 63;
                if (isNaN(chr2)) {
                    enc3 = enc4 = 64;
                } else if (isNaN(chr3)) {
                    enc4 = 64;
                }
                output = output +
                    this._keyStr.charAt(enc1) + this._keyStr.charAt(enc2) +
                    this._keyStr.charAt(enc3) + this._keyStr.charAt(enc4);
            }
            return output;
        },
        decode: function (input) {
            var remove = 0;
            for (var i = input.length - 1; i >= 0; i--) {
                if (input[i] == "=") {
                    remove++;
                } else {
                    break;
                }
            }
            var output = new Uint8ClampedArray(input.length / 4 * 3);
            var chr1, chr2, chr3;
            var enc1, enc2, enc3, enc4;
            var i = 0;
            var index = 0;
            input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");
            while (i < input.length) {
                enc1 = this._keyStr.indexOf(input.charAt(i++));
                enc2 = this._keyStr.indexOf(input.charAt(i++));
                enc3 = this._keyStr.indexOf(input.charAt(i++));
                enc4 = this._keyStr.indexOf(input.charAt(i++));
                chr1 = (enc1 << 2) | (enc2 >> 4);
                chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
                chr3 = ((enc3 & 3) << 6) | enc4;
                output[index++] = chr1;
                if (enc3 != 64) {
                    output[index++] = chr2;
                }
                if (enc4 != 64) {
                    output[index++] = chr3;
                }
            }
            output = output.slice(0, output.length - remove);
            return output;
        }
    };

    /**
     * 显示
     * @param index
     * @param maxIndex
     */
    var ChangeBar = function (title,index, maxIndex, yesFuc = null, noFuc = null) {
        var bar = lt_code.getAll5(".progressBar")[0];
        var barTitle = lt_code.getAll5(".progressBarTitle")[0];
        var barBox = lt_code.getAll5(".progressBarBox")[0];
        var barValueBox = lt_code.getAll5(".progressBarValueBox")[0];
        var barValue = lt_code.getAll5(".progressBarValue")[0];
        var yes = lt_code.getAll5(".progressBarButtonBox>button")[0];
        var no = lt_code.getAll5(".progressBarButtonBox>button")[1];
        if (yesFuc) {
            this.yesFuc = yesFuc;
        }
        if (noFuc) {
            this.noFuc = noFuc;
        }

        //显示标题
        barTitle.innerText = title;

        //显示条
        bar.style.display = "block";

        //显示进度
        barValueBox.style.width = Math.floor(index / maxIndex) + "%";
        barValue = Math.floor(index / maxIndex) + "%";

        //显示按键
        if (index >= maxIndex) {
            yes.className = "";
        } else {
            yes.className = "wait";
        }

        //修改函数
        if (index >= maxIndex) {
            yes.onmousedown = yesFuc;
            no.onmousedown = function () { };
        } else {
            yes.onmousedown = function () { };
            no.onmousedown = noFuc;
        }
    };
    ChangeBar.yesFuc = function () { };
    ChangeBar.noFuc = function () { };
</script>

{% endblock %}
