{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>-->

<input type="file" name="name" value="" style="display:none;"/>
<input type="button" name="name" value="导入文件" />

<script>
    /**最大错误次数 */
    const MaxErrorTimes = 5;
    /**每次最大传输内容大小 */
    const size = 1 * 1024 * 1024;
    window.onload = function () {
        var input = lt_code.getAll5("input")[0];
        var button = lt_code.getAll5("input")[1];
        window.fileReader = new FileReader();
        var md5s = [];

        var url = /\/\/([^\/]*)/.exec(window.location.href);

        //const socket = new WebSocket("ws://" + url[1] + "/connect");
        const socket = io("ws://" + url[1] + "/");
        window.socket = socket;
        socket.binaryType = "arraybuffer";
        socket.on("connect", function () {
            console.log("服务器连接成功!");
        });
        socket.on("disconnect", function () {
            console.log("已经断开连接!");
        });
        socket.on("message", function (e) {
            console.log("服务器消息:" + e);
        })

        /**错误次数 */
        var errorTime = {};

        button.onmousedown = function () {
            input.click();
            fileReader.onprogress = function (e) {
                console.log(e.loaded);
            }
            input.onchange = function () {
                var file = input.files[0];
                lt_code.file = file;
                fileReader.readAsArrayBuffer(file);
                fileReader.onload = function () {
                    const fileMD5 = md5(this.result);
                    console.log("文件读取完成!");
                    if (confirm("是否上传文件?")) {
                        /**新建文件 */
                        var newFile = function () {
                            var up = {
                                n: "newFile",
                                md5: fileMD5,
                                name: file.name,
                                uptime: file.lastModified,
                                size: file.size,
                            };
                            socket.emit("testUp", JSON.stringify(up));
                        };
                        /**
                         * 上传部分
                         * @param i
                         */
                        var upPart = function (i) {
                            var part = fileReader.result.slice(i, i + size);
                            var partValue = {
                                n: "upFile",
                                md5: md5(part),
                                value: new Uint8ClampedArray(part).join(","),
                                index: i,
                                size: part.length,
                            };
                            //console.log(partValue);
                            console.log(JSON.stringify(partValue));
                            socket.emit("testUp", JSON.stringify(partValue));
                        }
                        //while (i < fileReader.result.length) {
                        //    upPart(i);
                        //    socket.on("")
                        //}
                        socket.on("upFile", function (e) {
                            if (e == "newFile") {
                                /**上传文件指针 */
                                var i = 0;
                                /**上传文件块指针 */
                                var index = 0;
                                //上传第一部分
                                upPart(i);
                                socket.on("upFileError", function (e) {
                                    console.log(e);
                                    if (e == "fileNotInit") {
                                        if (errorTime[e] == undefined || errorTime < MaxErrorTimes) {
                                            errorTime[e] = !errorTime[e] ? 1 : errorTime[e] + 1;
                                            newFile();
                                        } else {
                                            console.error("在服务器上创建文件失败!\n已经超过了最大重试次数!");
                                            errorTime[e] = 0;
                                            return;
                                        }
                                    } else if (e == "outIndex") {

                                    } else if (e == "success") {
                                        i += size;
                                        index += 1;
                                        upPart(i);
                                    }
                                });
                            }
                        });

                        //外部测试用
                        window.newFile = newFile;
                        window.upPart = upPart;

                        //开始上传文件
                        newFile();
                    }
                }
            }
        }

        //测试直接发送文件(结果出来了,socket似乎是不支持大数据传输)
        //button.onmousedown = function () {
        //    input.click();
        //    input.onchange = function () {
        //        var file = input.files[0];
        //        fileReader.onload = function () {
        //            var bytes = new Uint8Array(this.result);
        //            socket.emit("testUp2", bytes);
        //        }
        //        fileReader.readAsArrayBuffer(file);
        //    }
        //}
        //var upPart = function (str, md5, isPart) {
        //    //启动会话
        //    $(function () {
        //        /**上传数据 */
        //        var up = {
        //            uid: window.UID,
        //            type: isPart,
        //            part: str,
        //            md5: md5,
        //        };
        //        up = {
        //            n: "testUp",
        //            data: lt_code.base64.encode(JSON.stringify(up)),
        //        };

        //        $.ajax({
        //            type: "post",
        //            url: "/api/",
        //            data: JSON.stringify(up),
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "text",
        //            success: function (data) {
        //                console.log(data);
        //                switch (data) {
        //                    case "Error:NAME":
        //                    case "Error:UID":
        //                    case "Error:NOTSIGN":
        //                        window.location.href = "/sign/";
        //                        //console.trace("先禁止返回注册");
        //                        break;
        //                    case "False":
        //                    case "Error:NOTFOUND":
        //                        alert("此设备不存在!");
        //                        break;
        //                    case "Error:NO":
        //                        alert("未知错误!");
        //                        break;
        //                    case "Error:EMPTY":
        //                        alert("没有任何数据!");
        //                        break;
        //                    case "True":
        //                        codeBox.classList.add("codeBoxShow");
        //                        break;
        //                    default:
        //                        alert("未知错误!");
        //                        break;
        //                }
        //            },
        //            error: function (err) {
        //                alert(err);
        //            }
        //        });
        //    });
        //}
    }

</script>

{% endblock %}
